*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Oswald",  'Arial Narrow', Arial, sans-serif;;
  scroll-behavior: smooth;
  scrollbar-color: #dacccc #242323;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none; 
}
::selection {
  background-color: var(--menu-bar);
  color: var(--text-color2);
}
::-moz-selection {   /*   For Firefox :(     */
  background-color: var(--menu-bar);
  color: var(--text-color2);
}
:root{
    --bg-color: #0c0c0c;
    --text-color1: #f3e7e7;
    --text-color2: #dacccc;
    --main-color: #39393d;
    --main-blackish: #242323;
    --gradient: linear-gradient(45deg, #ff3366, #ff6b6b, #4834d4, #686de0);
    --glass-bg: rgba(255, 255, 255, 0.05);
    --menu-bar: #242323fb;
    --border: 1px solid rgba(255, 255, 255, 0.1);
    --shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    --big-font: 4rem;
    --p-font: 4rem;
}
html{
  max-width: 100%;
  overflow-x: hidden;
}
body{
  padding-top: 40px;
  padding-bottom: 30px;
  color: var(--text-color1);
  background: url(img/white\ bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#header{
  text-align: center;
  justify-content: center;
  align-content: center;
  height: auto;
  margin: 0 auto 0 auto;
  width: 70%;
  border: 1.7px solid var(--main-blackish);
  backdrop-filter: blur(2px);
  border-radius: 40px;
  padding-top: 70px;
  padding-bottom: 40px;
}
.header-img{
  border: 1px solid var(--main-blackish);
  border-radius: 50%;
  width: 100px;   
  height: 100px;
  align-content: center;
  margin: 0px auto auto auto;
  justify-content: center;
}
.header-img img{
  width: 100px;   
  height: 100px;    
  border-radius: 50%;
  object-fit: cover;
}
#header h1 {
  font-size: 30px;
  font-weight: 900;
  color: var(--main-blackish);
}
#header h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--main-blackish);
}
#header h1 img{
  width: 21px;
  color: var(--main-blackish);
}
#header p a{
  font-size: 15px;
  font-weight: 700;
  color: var(--main-blackish);
}
#header p :hover{
  font-size: 17px;
  color: var(--bg-color);
}
.reachout-icons i{
  color: var(--bg-color);
  font-size: 30px;
  transition: all .4s ease;
  padding: 20px 10px 10px 20px;
}
.reachout-icons i:hover{
  transform: translateY(-7px);
}
.child-container{
  border: 1px solid var(--main-blackish);
  backdrop-filter: blur(30px);
  background-color: #24232380;
  border-radius: 10px;
  width: 40%;
  padding: 10px 0;
  margin: 20px auto 20px auto;
}
.child-container p{
  font-size: 17px;
  font-weight: 900;
  color: var(--main-blackish);
}
.child-container:hover{
  transform: translateX(-7px);
}
.qr-code img{
  height: 140px;
}
@media (max-width: 740px) {
  #header{
    width: 90%;
  }
  .child-container{
    width: 70%;
  }
}
@media (max-width: 430px) {
  body{
    padding-bottom: 10px;
  }
  #header h1 {
    font-size: 24px;
    font-weight: 900;
    color: var(--main-blackish);
  }
  #header{
    width: 97%;
    border-radius: 25px;
    padding-bottom: 20px;
  }
  .header-img{
    width: 80px;   
    height: 80px; 
  }
  .header-img img{
    width: 80px;   
    height: 80px; 
  }
  #header h2 {
    font-size: 14px;
    font-weight: 700;
  }
  .reachout-icons i{
    font-size: 24px;
    padding: 20px 10px 10px 10px;
 }
}